header {
  height: 10vh;
}

a {
  font-family: Muli;
  font-size: 16px;
  letter-spacing: 5px;
}

.navbar-alingment {
  margin-left: -120px;

}
.home {
  background-color: #9ed2ee;
  height: 90vh;
}

.hi {
  font-family: Montserrat;
  font-size: 80px;
  color: white;
  padding-top: 120px;
  padding-left: 100px;

}

.description {
  font-size: 40px;
  padding-top: 0px;
  padding-left: 170px;
  letter-spacing: 2px;
}

.my-work-arrow {

padding-top: 180px;
width: 200px

}

main {
  height: 1000px;
}
